/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(239, 239, 239, 1);
    color: rebeccapurple;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

header .header-top {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

header .menu {
    width: 146px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-bottom {
    width: 100%;
    height: 75px;
    display: flex;
    margin-top: 70px;
    gap: 13px;
}

header .header-bottom .user-info {
    width: 481px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 17px;
}

header .header-bottom .sun {
    margin-left: 52px;
    margin-right: 14px;
}

header .header-bottom span {
    font-family: "vw-head-bold";
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
}

header .header-bottom .squad-info {
    width: 909px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 17px;
    padding-left: 36px;
}

header .header-bottom button {
    width: 328px;
    height: 75px;
    background: linear-gradient(90deg, #041861 -15.24%, #4BABE8 50%);
    border-radius: 17px;
    border: none;
    font-family: "vw-head-bold";
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    line-height: 29px;
    letter-spacing: -0.05em;
}

main .squads {
    width: 100%;
    height: 788px;
    display: flex;
    justify-content: space-between;
}

main .info-box {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 11px;
}

main .tec-box {
    width: 634px;
    height: 75px;
    display: flex;
}

main .infotec {
    width: 409px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 17px;
    padding-left: 104px;
    margin-right: 11px;
}

main .infotec span {
    font-family: "vw-head-bold";
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: black;
}

main .info-number {
    width: 214px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 17px;
    padding-left: 61px;
}

main .info-number span {
    font-family: "vw-head-bold";
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: black;
}

main .fundo-preto{
    width: 100%;
    height: 562px;
    background-color: #000000;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;  
}

main table {
    width: 100%;
    height: 405px;
    background-color: black;

    margin: 0px 52px 0px 52px;
}

main table th {
    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    line-height: 29px;
    color: white;
}

main table tbody tr .tarefa{
    width: 433px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;

    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
}

main table tbody tr .nome{
    width: 185px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;

    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
}

main table tbody tr .verification{
    width: 240px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;
    
    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
    background-color: gray;
}

main table tbody tr .verification-pronto{
    width: 240px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;
    
    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
    background-color: #3AB600;
}

main table tbody tr .verification-parado{
    width: 240px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;
    
    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
    background-color: #F1AE00;
}

main table tbody tr .verification-finalizado{
    width: 240px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;
    
    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
    background-color: #4BABE8;
}

main table tbody tr .andamento{
    width: 433px;
    height: 91px;
    border: 1px solid white;
    border-radius: 17px;

    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

main table tbody tr .bar{
    width: 318px;
    height: 20px;
    background-color: #4babe8;
    border-radius: 30px;
}

main table tbody tr .hora{
    width: 185px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;

    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;
}

main table tbody tr .mais{
    width: 185px;
    height: 75px;
    border: 1px solid white;
    border-radius: 17px;

    text-align: center;
    font-family: "vw-head-regular";
    font-size: 24px;
    color: white;

    background: #272727;
}

main .button-box{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid rgb(0, 0, 0);
}

main .button-tabela{
    width: 409px;
    height: 75px;
    background: linear-gradient(90deg, #041861 -15.24%, #4BABE8 50%);
    border: none;
    border-radius: 17px;

    font-family: "vw-head-bold";
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    line-height: 29px;
    letter-spacing: -0.05em;

    margin-top: 20px;
    margin-bottom: 20px;

}